/* style sheet the portfolio */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,500;1,600;1,700&display=swap');

.main_container {
  background-color: aliceblue;
  max-width: 375px;
  height: 718px;
  margin: auto;
}

body {
  background-color: #fff;
  font-family: Porpins, Helvetica, sans-serif;
}

.inside_container {
  background-color: #fff;
  background-image: url("./assets/header-shapes\ mobile.png");
  padding-top: 8px;
  height: 718px;
  max-width: 375px;

  border-bottom-left-radius: 100px;
} 

.navbar {
  background: #fff;
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.my-portfolio-logo {
  font-size: 20px;
  line-height: 20px;
  width: 76px;
  font-weight: bold;
  text-decoration: none;
}

.big_section {
  margin: 114px 0;
  padding: 0 32px;
}

h1 {
  font-size: 38px;
  line-height: 50px;
  color: darkblue;
  font-weight: bold;
}

.main_content{
  color: rgb(77, 75, 75);
  line-height: 24px;
  width: 327px;
  height: 146px;
}

.connect_text {
  color: rgb(170, 163, 163);
}

.links_list {
  list-style: none;
  display: flex;
  width: 163px;
  padding: 0;
  justify-content: space-between;
}

.media_links a:hover {
  cursor: pointer;
}

